Repository goodtocode/persistence: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Path conditions:
  pipelines/g2c-rg-shared.yml: any of: infrastructure, src
  pipelines/shared-nuget.yml: any of: src

nuget steps file rename
  pipelines/g2c-rg-shared.yml
Due: none

missed 1 nuget spellign
  pipelines/g2c-rg-shared.yml
Due: none

Removed failing line
  src/blob/Blob.Functions/Functions/ExcelReader.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Removed unused models
  src/blob/Blob.Excel/Blob.Excel.csproj
  src/blob/Blob.Excel/Extensions/ICellExtensions.cs
  src/blob/Blob.Excel/Extensions/NpoiExtensions.cs
  src/blob/Blob.Excel/IEntity.cs
  src/blob/Blob.Excel/Models/ExcelFileRawDataModel.cs
  src/blob/Blob.Excel/Services/ExcelService.cs
  src/blob/Blob.Excel/Services/IExcelFileService.cs
  src/blob/Blob.Excel/Services/IFileValidationService.cs
  src/blob/Blob.Functions/Blob.Functions.csproj
  src/blob/Blob.Functions/BlobTriggers/ExcelLoad.cs
  src/blob/Blob.Functions/Functions/ExcelReader.cs
  src/blob/Blob.Functions/HttpTriggers/ExcelSheet.cs
  src/blob/Blob.Functions/HttpTriggers/Healthcheck.cs
  src/blob/Blob.Functions/Models/FunctionHealth.cs
  src/blob/Blob.Functions/Startup.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Created specification to mirror code
  src/blob/Blob.Excel/Blob.Excel.csproj
  src/blob/Blob.Excel/Extensions/ICellExtensions.cs
  src/blob/Blob.Excel/Infrastructure/ExcelBlobReader.cs
  src/blob/Blob.Excel/Infrastructure/SupportedFileTypes.cs
  src/blob/Blob.Excel/Models/ExcelFileRawDataModel.cs
  src/blob/Blob.Excel/Models/ICellData.cs
  src/blob/Blob.Excel/Models/IColumnMetada.cs
  src/blob/Blob.Excel/Models/IRowData.cs
  src/blob/Blob.Excel/Models/IRowMetadata.cs
  src/blob/Blob.Excel/Models/ISheetData.cs
  src/blob/Blob.Excel/Models/ISheetMetadata.cs
  src/blob/Blob.Excel/Services/ExcelService.cs
  src/blob/Blob.Excel/Services/FileValidationService.cs
  src/blob/Blob.Excel/Services/IExcelFileService.cs
  src/blob/Blob.Excel/Services/IExcelService.cs
  src/blob/Blob.Excel/Services/IFileValidationService.cs
  src/blob/Blob.Functions/BlobTriggers/ExcelWorkbook.cs
  src/blob/Blob.Functions/HttpTriggers/ExcelCell.cs
  src/blob/Blob.Functions/HttpTriggers/ExcelColumn.cs
  src/blob/Blob.Functions/HttpTriggers/ExcelRow.cs
  src/blob/Blob.Functions/HttpTriggers/Healthcheck.cs
  src/blob/Blob.Functions/Models/FunctionHealth.cs
  src/blob/Blob.Functions/Startup.cs
  src/blob/Blob.Tests/Assets/TestFile.csv
  src/blob/Blob.Tests/Assets/TestFile.xls
  src/blob/Blob.Tests/Assets/TestFile.xlsx
  src/blob/Blob.Tests/Blob.Tests.csproj
  src/blob/Blob.Tests/Excel/ExcelBlobReaderTests.cs
  src/blob/Blob.Tests/Excel/ExcelBloblReaderTests.feature
  src/blob/Blob.Tests/Excel/ExcelBloblReaderTests.feature.cs
  src/blob/Blob.Tests/Factories/AppConfigurationFactory.cs
  src/blob/Blob.Tests/Factories/GenericLogger.cs
  src/blob/Blob.Tests/Factories/ListLogger.cs
  src/blob/Blob.Tests/Factories/LoggerFactory.cs
  src/blob/Blob.Tests/Factories/LoggerTypes.cs
  src/blob/Blob.Tests/Factories/NullScope.cs
  src/blob/Blob.Tests/Factories/ObjectA.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Unit test scaffolded
  src/blob/Blob.Excel/Blob.Excel.csproj
  src/blob/Blob.Excel/Infrastructure/ExcelBlobReader.cs
  src/blob/Blob.Excel/Services/ExcelService.cs
  src/blob/Blob.Functions/Blob.Functions.csproj
  src/blob/Blob.Tests/Blob.Tests.csproj
  src/blob/Blob.Tests/Excel/ExcelBlobReaderTests.cs
  src/blob/Blob.Tests/Excel/ExcelBloblReaderTests.feature
  src/blob/Blob.Tests/Excel/ExcelBloblReaderTests.feature.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

ExcelReader complete
  src/blob/Blob.Tests/Excel/ExcelBlobReaderTests.cs
  src/blob/Blob.Tests/Excel/ExcelBloblReaderTests.feature
  src/blob/Blob.Tests/Excel/ExcelBloblReaderTests.feature.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Added swagger
  src/blob/Blob.Functions/Auth/BootLoader.cs
  src/blob/Blob.Functions/Auth/Constants.cs
  src/blob/Blob.Functions/Auth/Get-MSALToken.ps1
  src/blob/Blob.Functions/Auth/Well-known-configuration.json
  src/blob/Blob.Functions/Blob.Functions.csproj
  src/blob/Blob.Functions/Start-Host/Certs/New-SelfSignedCert.ps1
  src/blob/Blob.Functions/Start-Host/Start-Host.ps1
  src/blob/Blob.Functions/Start-Host/StartHost.cmd
  src/blob/Blob.Functions/Swagger/SwaggerJson.cs
  src/blob/Blob.Functions/Swagger/SwaggerUi.cs
  src/blob/Blob.Functions/Swagger/UpdateSwagger.cmd
  src/blob/Blob.Tests/Functions/Auth/Fn_BootLoader.feature
  src/blob/Blob.Tests/Functions/Auth/Fn_BootLoader.feature.cs
  src/blob/Blob.Tests/Functions/Auth/Fn_BootLoaderSteps.cs
  src/blob/Blob.Tests/Functions/Health/Fn_HealthCheck.feature
  src/blob/Blob.Tests/Functions/Health/Fn_HealthCheck.feature.cs
  src/blob/Blob.Tests/Functions/Health/Fn_HealthCheckSteps.cs
  src/blob/Blob.Tests/Functions/Profile/User/Fn_UserDelete.feature
  src/blob/Blob.Tests/Functions/Profile/User/Fn_UserDelete.feature.cs
  src/blob/Blob.Tests/Functions/Profile/User/Fn_UserDeleteSteps.cs
  src/blob/Blob.Tests/Functions/Profile/User/Fn_UserSave.feature
  src/blob/Blob.Tests/Functions/Profile/User/Fn_UserSave.feature.cs
  src/blob/Blob.Tests/Functions/Profile/User/fn_UserSaveSteps.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Incremental
  src/blob/Blob.Functions/Auth/BootLoader.cs
  src/blob/Blob.Functions/Auth/Constants.cs
  src/blob/Blob.Functions/Auth/HttpRequestExtensions.cs
  src/blob/Blob.Functions/Blob.Functions.csproj
  src/blob/Blob.Functions/Swagger/SwaggerJson.cs
  src/blob/Blob.Tests/Blob.Tests.csproj
  src/blob/Blob.Tests/Excel/ExcelBloblReaderTests.feature.cs
  src/blob/Blob.Tests/Factories/Converter.cs
  src/blob/Blob.Tests/Factories/HttpRequestFactory.cs
  src/blob/Blob.Tests/Factories/StringExtensions.cs
  src/blob/Blob.Tests/Functions/Auth/BootLoader.feature
  src/blob/Blob.Tests/Functions/Auth/BootLoader.feature.cs
  src/blob/Blob.Tests/Functions/Auth/BootLoaderSteps.cs
  src/blob/Blob.Tests/Functions/Auth/Fn_BootLoader.feature.cs
  src/blob/Blob.Tests/Functions/Health/Healthcheck.feature
  src/blob/Blob.Tests/Functions/Health/Healthcheck.feature.cs
  src/blob/Blob.Tests/Functions/Health/HealthcheckSteps.cs
  src/blob/Blob.Tests/Functions/Profile/User/Fn_UserDelete.feature
  src/blob/Blob.Tests/Functions/Profile/User/Fn_UserDeleteSteps.cs
  src/blob/Blob.Tests/Functions/Profile/User/Fn_UserSave.feature.cs
  src/dotnet/Shared.dotNet.sln
  src/dotnet/dotNet.Identity/AspNetCore.Http/HttpRequestExtensions.cs
  src/dotnet/dotNet.Identity/dotNet.Identity.csproj
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Initial commit - TokenContext
  src/dotnet/dotNet.Identity/AspNetCore.Http/HttpRequestExtensions.cs
  src/dotnet/dotNet.Identity/Extensions/HttpRequestExtensions.cs
  src/dotnet/dotNet.Identity/Validators/TokenContext.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Adding appcs
  infrastructure/appcs-appconfigurationstore.json
  infrastructure/appcs-appconfigurationstore.parameters.json
  pipelines/steps/gtc-rg-shared-infrastructure-steps.yml
  pipelines/variables/development.yml
  pipelines/variables/production.yml
Due: pipelines/g2c-rg-shared.yml

Corrected functions path
  pipelines/steps/gtc-rg-shared-func-build-steps.yml
  pipelines/variables/common.yml
Due: none

Functions path made specific
  pipelines/steps/gtc-rg-shared-func-build-steps.yml
  pipelines/variables/common.yml
Due: none

Functions now create own plan dymaically
  infrastructure/func-functionsapp.json
  infrastructure/func-functionsapp.parameters.json
Due: pipelines/g2c-rg-shared.yml

TokenContext tests completed
  src/dotnet/dotNet.Identity/Cryptography/Encryptor.cs
  src/dotnet/dotNet.Identity/Validators/TokenContext.cs
  src/dotnet/dotNet.Tests/Factories/AppConfigurationFactory.cs
  src/dotnet/dotNet.Tests/Identity/TokenContextTests.cs
  src/dotnet/dotNet.Tests/Identity/TokenContextTests.feature
  src/dotnet/dotNet.Tests/Identity/TokenContextTests.feature.cs
  src/dotnet/dotNet.Tests/Sys/CasterTests.feature.cs
  src/dotnet/dotNet.Tests/Sys/ConverterTests.feature.cs
  src/dotnet/dotNet.Tests/appsettings.Development.json
  src/dotnet/dotNet.Tests/appsettings.Local.json
  src/dotnet/dotNet.Tests/dotNet.Tests.csproj
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Configuration now defaults 1 key/lable for sentinel
  infrastructure/appcs-appconfigurationstore.json
Due: pipelines/g2c-rg-shared.yml

Added several paths to dotnet restore as a test
  pipelines/steps/gtc-rg-shared-func-build-steps.yml
Due: none

Added persistence projects
  src/persistence/Persistence.CosmosDb/Services/DataService.cs
  src/persistence/Persistence.Tests/Persistence.Tests.csproj
  src/persistence/Shared.Persistence.sln
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Widened function blob path to srcBlobPath
  pipelines/steps/gtc-rg-shared-func-build-steps.yml
  pipelines/variables/common.yml
Due: none

Fixed typo in project variable
  pipelines/steps/gtc-rg-shared-func-build-steps.yml
Due: none

Removed duplicate namespaces
  src/analytics/Analytics.Tests/Analytics.Tests.csproj
  src/blob/Blob.Tests/Blob.Tests.csproj
  src/patterns/Patterns.Tests/Patterns.Tests.csproj
  src/persistence/Persistence.Abstractions/Configuration/ICosmosDbServiceConfiguration.cs
  src/persistence/Persistence.Abstractions/Configuration/IPersistenceServiceConfiguration.cs
  src/persistence/Persistence.Abstractions/IEntity.cs
  src/persistence/Persistence.Abstractions/Persistence.Abstractions.csproj
  src/persistence/Persistence.Abstractions/Services/IPersistenceService.cs
  src/persistence/Persistence.Abstractions/favicon.ico
  src/persistence/Persistence.Abstractions/storeicon.png
  src/persistence/Persistence.CosmosDb/Configuration/CosmosDbDataServiceConfiguration.cs
  src/persistence/Persistence.CosmosDb/Configuration/ICosmosDbServiceConfiguration.cs
  src/persistence/Persistence.CosmosDb/Enums/SupportedFileTypes.cs
  src/persistence/Persistence.CosmosDb/ExcelFileRawDataModel.cs
  src/persistence/Persistence.CosmosDb/Extensions/NpoiExtensions.cs
  src/persistence/Persistence.CosmosDb/Services/CosmosDbService.cs
  src/persistence/Persistence.CosmosDb/Services/ExcelFileContentExtractorService.cs
  src/persistence/Persistence.CosmosDb/Services/FileExtensionValidationService.cs
  src/persistence/Persistence.CosmosDb/Services/IPersistenceService.cs
  src/persistence/Persistence.CosmosDb/Services/Interfaces/IDataService.cs
  src/persistence/Persistence.CosmosDb/Services/Interfaces/IExcelFileContentExtractorService.cs
  src/persistence/Persistence.CosmosDb/Services/Interfaces/IFileExtensionValidationService.cs
  src/persistence/Shared.Persistence.sln
  src/spatial/Spatial.Tests/Spatial.Tests.csproj
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Wired in configuration
  src/dotnet/dotNet.Tests/Identity/TokenContextTests.cs
  src/dotnet/dotNet.Tests/dotNet.Tests.csproj
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Bearer inserted correctly
  src/dotnet/dotNet.Tests/Factories/AppConfigurationFactory.cs
  src/dotnet/dotNet.Tests/Identity/TokenContextTests.cs
  src/dotnet/dotNet.Tests/Identity/TokenContextTests.feature
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Corrected nuget packaging information across the board
  src/analytics/Analytics.CognitiveServices.Abstractions/Analytics.CognitiveServices.Abstractions.csproj
  src/analytics/Analytics.CognitiveServices/Analytics.CognitiveServices.csproj
  src/blob/Blob.Excel/Blob.Excel.csproj
  src/blob/Blob.Functions/Blob.Functions.csproj
  src/blob/Blob.Tests/Blob.Tests.csproj
  src/dotnet/dotNet.Configuration/dotNet.Configuration.csproj
  src/dotnet/dotNet.EntityFramework/dotNet.EntityFramework.csproj
  src/dotnet/dotNet.Identity/dotNet.Identity.csproj
  src/dotnet/dotNet.Net/dotNet.Net.csproj
  src/dotnet/dotNet.System/dotNet.System.csproj
  src/patterns/Patterns.Cqrs/Patterns.Cqrs.csproj
  src/patterns/Patterns.Ddd/Patterns.Ddd.csproj
  src/patterns/Patterns.Repository/Patterns.Repository.csproj
  src/persistence/Persistence.Abstractions/Persistence.Abstractions.csproj
  src/persistence/Persistence.CosmosDb/Persistence.CosmosDb.csproj
  src/persistence/Persistence.Functions/Persistence.Functions.csproj
  src/spatial/Spatial.Geometry/Spatial.Geometry.csproj
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Updating nuget to resolve CI error
  src/blob/Blob.Excel/Blob.Excel.csproj
  src/blob/Blob.Tests/Blob.Tests.csproj
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Archive path/file vars fixed
  pipelines/steps/gtc-rg-shared-func-build-steps.yml
  pipelines/steps/gtc-rg-shared-func-deploy-steps.yml
  pipelines/variables/common.yml
Due: none

Removed crossing core 31 with .net 5 references. Testing if side effects gone
  src/blob/Blob.Tests/Blob.Tests.csproj
  src/blob/Blob.Tests/Excel/ExcelBloblReaderTests.feature.cs
  src/blob/Blob.Tests/Factories/AppConfigurationFactory.cs
  src/blob/Blob.Tests/Factories/HttpRequestFactory.cs
  src/blob/Blob.Tests/Functions/Auth/BootLoader.feature
  src/blob/Blob.Tests/Functions/Auth/BootLoader.feature.cs
  src/blob/Blob.Tests/Functions/Auth/BootLoaderSteps.cs
  src/blob/Blob.Tests/Functions/Health/Healthcheck.feature
  src/blob/Blob.Tests/Functions/Health/Healthcheck.feature.cs
  src/blob/Blob.Tests/Functions/Health/HealthcheckSteps.cs
  src/blob/Blob.Tests/Functions/Profile/User/Fn_UserSave.feature
  src/blob/Blob.Tests/Functions/Profile/User/Fn_UserSave.feature.cs
  src/blob/Blob.Tests/Functions/Profile/User/fn_UserSaveSteps.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Updated dependencies
  src/blob/Blob.Tests/Blob.Tests.csproj
  src/blob/Blob.Tests/Excel/ExcelBloblReaderTests.feature.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Removed unneeded cosmos.functions project. Fixed storeicon.png error
  src/blob/Blob.Excel/Blob.Excel.csproj
  src/persistence/Persistence.CosmosDb/Persistence.CosmosDb.csproj
  src/persistence/Persistence.Functions/.gitignore
  src/persistence/Persistence.Functions/Functions/ExcelFileContentExtractorFuncApp.cs
  src/persistence/Persistence.Functions/Persistence.Functions.csproj
  src/persistence/Persistence.Functions/Properties/serviceDependencies.json
  src/persistence/Persistence.Functions/Properties/serviceDependencies.local.json
  src/persistence/Persistence.Functions/Startup.cs
  src/persistence/Persistence.Functions/host.json
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Fixed icon, identity fail
  src/dotnet/dotNet.Identity/dotNet.Identity.csproj
  src/dotnet/dotNet.Identity/favicon.ico
  src/dotnet/dotNet.Identity/storeicon.png
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Adding assert to ensure assets are found before execution
  src/blob/Blob.Tests/Excel/ExcelBlobReaderTests.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Fixed \ to / path issue, need to be linux compliant
  src/blob/Blob.Tests/Excel/ExcelBlobReaderTests.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Disabled token until implement fake
  src/dotnet/dotNet.Tests/Identity/TokenContextTests.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Adjusting path to match dotnet test runtime mismatch
  src/blob/Blob.Tests/Excel/ExcelBlobReaderTests.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Fixed pathing issues between dotnet test and VS
  src/blob/Blob.Tests/Excel/ExcelBlobReaderTests.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Adding appcs key to sandbox resources
  pipelines/g2c-rg-shared.yml
  pipelines/steps/gtc-rg-shared-func-build-steps.yml
  pipelines/steps/gtc-rg-shared-func-deploy-steps.yml
  pipelines/steps/gtc-rg-shared-src-build-steps.yml
  pipelines/steps/gtc-rg-shared-src-test-steps.yml
  pipelines/variables/common.yml
  pipelines/variables/development.yml
  pipelines/variables/production.yml
Due: none

archiveName variable misspell
  pipelines/g2c-rg-shared.yml
  pipelines/steps/gtc-rg-shared-func-build-steps.yml
  pipelines/variables/common.yml
Due: none

Archive step fix
  pipelines/steps/gtc-rg-shared-func-build-steps.yml
Due: none

simplified steps
  pipelines/g2c-rg-shared.yml
Due: none

Added displayname to func to see vars
  pipelines/steps/gtc-rg-shared-func-build-steps.yml
  pipelines/steps/gtc-rg-shared-func-deploy-steps.yml
  pipelines/steps/gtc-rg-shared-nuget-deploy-steps.yml
Due: none
