Repository goodtocode/persistence: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

pipelines/g2c-rg-shared.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: development
    variables:
    - template: variables/development.yml
    jobs:
    - job: deploy_landing_zone
      steps:
      - template: steps/lz-steps.yml
        parameters:
          armPath: infrastructure
    - job: deploy_infrastructure
  ...

pipelines/shared-nuget.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: windows-latest
      steps:
      - task: PowerShell@2
        displayName: Set-Version
        inputs:
          filePath: pipelines/Shared.Deploy/Assembly/Set-Version.ps1
  ...

Initial commit Cosmosdb
  infrastructure/cosmos-cosmosdb.json
  infrastructure/cosmos-cosmosdb.parameters.json
  pipelines/g2c-rg-shared.yml
  pipelines/steps/infrastructure-steps.yml
  pipelines/steps/nuget-deploy-steps.yml
  pipelines/steps/src-build-steps.yml
  pipelines/steps/src-test-steps.yml
Due: pipelines/g2c-rg-shared.yml

cosmos variables
  pipelines/variables/development.yml
  pipelines/variables/production.yml
Due: none

added pipelines to trigger
  pipelines/g2c-rg-shared.yml
Due: none

CosmosDb and StorageTables pass unit test
  src/persistence/Persistence.CosmosDb/Configuration/CosmosDbServiceConfiguration.cs
  src/persistence/Persistence.CosmosDb/Configuration/CosmosDbServiceConfigurationExtensions.cs
  src/persistence/Persistence.CosmosDb/Configuration/CosmosDbServiceOptions.cs
  src/persistence/Persistence.CosmosDb/Configuration/ICosmosDbServiceConfiguration.cs
  src/persistence/Persistence.CosmosDb/Extensions/ObjectExtensions.cs
  src/persistence/Persistence.CosmosDb/Persistence.CosmosDb.csproj
  src/persistence/Persistence.CosmosDb/Services/CosmosDbContainerService.cs
  src/persistence/Persistence.CosmosDb/Services/CosmosDbItemService.cs
  src/persistence/Persistence.CosmosDb/Services/ICosmosDbContainerService.cs
  src/persistence/Persistence.CosmosDb/Services/ICosmosDbItemService.cs
  src/persistence/Persistence.Tests/CosmosDb/CosmosDbServiceTests.cs
  src/persistence/Persistence.Tests/Persistence.Tests.csproj
  src/persistence/Persistence.Tests/StorageTables/StorageTablesServiceTests.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Added DatabaseName to configuration
  src/persistence/Persistence.CosmosDb/Configuration/CosmosDbServiceConfiguration.cs
  src/persistence/Persistence.CosmosDb/Configuration/ICosmosDbServiceConfiguration.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

AddItemsAsync added
  src/persistence/Persistence.CosmosDb/Extensions/ObjectExtensions.cs
  src/persistence/Persistence.CosmosDb/Services/CosmosDbItemService.cs
  src/persistence/Persistence.StorageTables/Extensions/ObjectExtensions.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Retired test not on current ticket specs
  src/persistence/Persistence.Tests/CosmosDb/CosmosDbServiceTests.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Sentimel namespace fixed
  src/analytics/Analytics.Tests/Factories/AppConfigurationFactory.cs
  src/blob/Blob.Tests/Factories/AppConfigurationFactory.cs
  src/dotnet/dotNet.Tests/Factories/AppConfigurationFactory.cs
  src/patterns/Patterns.Repository/DbContext/GenericDbContext.cs
  src/patterns/Patterns.Tests/Factories/AppConfigurationFactory.cs
  src/persistence/Persistence.Tests/Factories/AppConfigurationFactory.cs
  src/spatial/Spatial.Tests/Factories/AppConfigurationFactory.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Added nuget package instructions
  src/persistence/Persistence.StorageTables/Persistence.StorageTables.csproj
  src/persistence/Persistence.StorageTables/favicon.ico
  src/persistence/Persistence.StorageTables/storeicon.png
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Pack=true in Persistence.StorageTables
  src/persistence/Persistence.StorageTables/Persistence.StorageTables.csproj
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Cickedy check in fix to object not iterating props into TableEntity
  src/persistence/Persistence.StorageTables/Services/StorageTablesItemService.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

ToDictionary works for all serializable types.
  src/persistence/Persistence.Abstractions/Extensions/ObjectExtensions.cs
  src/persistence/Persistence.CosmosDb/Extensions/AzureDataTablesExtensions.cs
  src/persistence/Persistence.CosmosDb/Extensions/ObjectExtensions.cs
  src/persistence/Persistence.StorageTables/Extensions/AzureDataTablesExtensions.cs
  src/persistence/Persistence.Tests/CosmosDb/CosmosDbServiceTests.cs
  src/persistence/Persistence.Tests/Models/EntityA.cs
  src/persistence/Persistence.Tests/StorageTables/StorageTablesServiceTests.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

template parameter for AppSettingsConnection
  pipelines/g2c-rg-shared.yml
Due: none

Added AppSettingsConnection
  pipelines/steps/lz-steps.yml
  pipelines/steps/nuget-deploy-steps.yml
  pipelines/steps/src-build-steps.yml
  pipelines/steps/src-test-steps.yml
Due: none

Parameter moved to correct section
  pipelines/g2c-rg-shared.yml
Due: none

Added several Text Analytics methods
  src/analytics/Analytics.CognitiveServices.Abstractions/Analyzers/ITextAnalyzer.cs
  src/analytics/Analytics.CognitiveServices.Abstractions/Entity/EntityResult.cs
  src/analytics/Analytics.CognitiveServices.Abstractions/Healthcare/HealthcareEntityResult.cs
  src/analytics/Analytics.CognitiveServices.Abstractions/KeyPhrase/KeyPhraseResult.cs
  src/analytics/Analytics.CognitiveServices.Abstractions/Sentiment/ISentimentConfidence.cs
  src/analytics/Analytics.CognitiveServices.Abstractions/Sentiment/ISentimentResult.cs
  src/analytics/Analytics.CognitiveServices/Analytics.CognitiveServices.csproj
  src/analytics/Analytics.CognitiveServices/Analyzers/TextAnalyer.cs
  src/analytics/Analytics.CognitiveServices/Sentiment/SentimentConfidence.cs
  src/analytics/Analytics.CognitiveServices/Sentiment/SentimentResult.cs
  src/analytics/Analytics.CognitiveServices/Sentiment/SentimentValues.cs
  src/analytics/Analytics.Tests/Analytics.Tests.csproj
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Unit test stubbed for TextAnalytics
  src/analytics/Analytics.CognitiveServices.Abstractions/Entity/LinkedResult.cs
  src/analytics/Analytics.CognitiveServices.Abstractions/Opinion/OpinionResult.cs
  src/analytics/Analytics.CognitiveServices.Abstractions/Sentiment/Confidence.cs
  src/analytics/Analytics.CognitiveServices.Abstractions/Sentiment/IConfidence.cs
  src/analytics/Analytics.CognitiveServices.Abstractions/Sentiment/ISentimentConfidence.cs
  src/analytics/Analytics.CognitiveServices.Abstractions/Sentiment/ISentimentResult.cs
  src/analytics/Analytics.CognitiveServices.Abstractions/Sentiment/SentimentResult.cs
  src/analytics/Analytics.CognitiveServices/Analyzers/TextAnalyer.cs
  src/analytics/Analytics.CognitiveServices/Sentiment/SentimentConfidence.cs
  src/analytics/Analytics.CognitiveServices/Sentiment/SentimentResult.cs
  src/analytics/Analytics.Tests/TextAnalytics/TextAnalyticsTests.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

TextAnalyzerService complete
  src/analytics/Analytics.CognitiveServices.Abstractions/Analytics.Abstractions.csproj
  src/analytics/Analytics.CognitiveServices.Abstractions/Configuration/CognitiveServiceConfiguration.cs
  src/analytics/Analytics.CognitiveServices.Abstractions/Configuration/CognitiveServiceOptions.cs
  src/analytics/Analytics.CognitiveServices.Abstractions/Configuration/ICognitiveServiceConfiguration.cs
  src/analytics/Analytics.CognitiveServices.Abstractions/Opinion/OpinionResult.cs
  src/analytics/Analytics.CognitiveServices.Abstractions/Sentiment/Confidence.cs
  src/analytics/Analytics.CognitiveServices.Abstractions/Sentiment/IConfidence.cs
  src/analytics/Analytics.CognitiveServices.Abstractions/Sentiment/ISentimentResult.cs
  src/analytics/Analytics.CognitiveServices.Abstractions/Sentiment/SentimentResult.cs
  src/analytics/Analytics.CognitiveServices.Abstractions/Sentiment/SentimentValueEnum.cs
  src/analytics/Analytics.CognitiveServices/Analytics.CognitiveServices.csproj
  src/analytics/Analytics.CognitiveServices/Sentiment/SentimentConfidence.cs
  src/analytics/Analytics.CognitiveServices/Sentiment/SentimentResult.cs
  src/analytics/Analytics.CognitiveServices/Sentiment/SentimentValues.cs
  src/analytics/Analytics.CognitiveServices/Services/ITextAnalyzerService.cs
  src/analytics/Analytics.CognitiveServices/Services/TextAnalyzerService.cs
  src/analytics/Analytics.CognitiveServices/Services/TextAnalyzerServiceExtensions.cs
  src/analytics/Analytics.Tests/Factories/AppConfigurationFactory.cs
  src/analytics/Analytics.Tests/Factories/LoggerFactory.cs
  src/analytics/Analytics.Tests/Models/GenericLogger.cs
  src/analytics/Analytics.Tests/Models/ListLogger.cs
  src/analytics/Analytics.Tests/Models/LoggerTypes.cs
  src/analytics/Analytics.Tests/Models/NullScope.cs
  src/analytics/Analytics.Tests/Models/ObjectA.cs
  src/analytics/Analytics.Tests/TextAnalytics/TextAnalyticsTests.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Tests filled in
  src/analytics/Analytics.Tests/TextAnalytics/TextAnalyticsTests.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Namespace aligned to project
  src/analytics/Analytics.CognitiveServices/Analyzers/TextAnalyer.cs
  src/analytics/Analytics.CognitiveServices/Sentiment/SentimentConfidence.cs
  src/analytics/Analytics.CognitiveServices/Services/ITextAnalyzerService.cs
  src/analytics/Analytics.CognitiveServices/Services/TextAnalyzerService.cs
  src/analytics/Analytics.CognitiveServices/Services/TextAnalyzerServiceExtensions.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Removed Text analyzer
  src/analytics/Analytics.CognitiveServices/Analyzers/TextAnalyer.cs
  src/analytics/Analytics.Tests/TextAnalytics/TextAnalyticsTests.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Moved StorageServiceExtension to same folder as service
  src/persistence/Persistence.StorageTables/Services/StorageTablesServiceExtensions.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Text Analytics interfaces added
  src/analytics/Analytics.CognitiveServices.Abstractions/Entity/EntityResult.cs
  src/analytics/Analytics.CognitiveServices.Abstractions/Entity/IAnalyticsEntityResult.cs
  src/analytics/Analytics.CognitiveServices.Abstractions/Healthcare/HealthcareEntityResult.cs
  src/analytics/Analytics.CognitiveServices.Abstractions/KeyPhrase/IKeyPhrases.cs
  src/analytics/Analytics.CognitiveServices.Abstractions/KeyPhrase/KeyPhraseResult.cs
  src/analytics/Analytics.CognitiveServices.Abstractions/Language/ILanguageIso.cs
  src/analytics/Analytics.CognitiveServices.Abstractions/Link/ILinkedMatches.cs
  src/analytics/Analytics.CognitiveServices.Abstractions/Link/LinkedMatches.cs
  src/analytics/Analytics.CognitiveServices.Abstractions/Link/LinkedResult.cs
  src/analytics/Analytics.CognitiveServices.Abstractions/Opinion/IOpinionResult.cs
  src/analytics/Analytics.CognitiveServices.Abstractions/Opinion/OpinionResult.cs
  src/analytics/Analytics.CognitiveServices.Abstractions/Sentiment/ISentimentResult.cs
  src/analytics/Analytics.CognitiveServices.Abstractions/Sentiment/SentimentScore.cs
  src/analytics/Analytics.CognitiveServices/Services/TextAnalyzerService.cs
  src/analytics/Analytics.Tests/TextAnalytics/TextAnalyticsTests.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Removed ITextAnalyzer
  src/analytics/Analytics.CognitiveServices.Abstractions/Analyzers/ITextAnalyzer.cs
  src/analytics/Analytics.CognitiveServices.Abstractions/Entity/EntityResult.cs
  src/analytics/Analytics.CognitiveServices.Abstractions/Entity/IAnalyticsResult.cs
  src/analytics/Analytics.CognitiveServices.Abstractions/Healthcare/HealthcareEntityResult.cs
  src/analytics/Analytics.CognitiveServices/Services/TextAnalyzerService.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Added all methods to ITextAnalyzerService
  src/analytics/Analytics.CognitiveServices/Services/ITextAnalyzerService.cs
  src/analytics/Analytics.CognitiveServices/Services/TextAnalyzerService.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Removed dup interface inherit
  src/analytics/Analytics.CognitiveServices/Services/TextAnalyzerService.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Overloaded tosheetdata to autofill workbook
  src/blob/Blob.Excel/Extensions/ISheetExtensions.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Removed ILogger from required constructor
  src/analytics/Analytics.CognitiveServices/Services/TextAnalyzerService.cs
  src/persistence/Persistence.StorageTables/Services/StorageTablesItemService.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Made config-only constructor public
  src/persistence/Persistence.StorageTables/Services/StorageTablesItemService.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Overload constructor to accept uri or string
  src/analytics/Analytics.CognitiveServices.Abstractions/Configuration/CognitiveServiceConfiguration.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Removed ILogger requirement from AOP utility services
  src/analytics/Analytics.CognitiveServices/Services/TextAnalyzerService.cs
  src/analytics/Analytics.Tests/TextAnalytics/TextAnalyticsTests.cs
  src/persistence/Persistence.CosmosDb/Services/CosmosDbItemService.cs
  src/persistence/Persistence.StorageTables/Services/StorageTablesItemService.cs
  src/persistence/Persistence.Tests/CosmosDb/CosmosDbServiceTests.cs
  src/persistence/Persistence.Tests/StorageTables/StorageTablesServiceTests.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Made configuration constructor public
  src/analytics/Analytics.CognitiveServices/Services/TextAnalyzerService.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

To sheet data was 1 based but eval as 0, cutting off last record. Fixed.
  src/blob/Blob.Excel/Extensions/ISheetExtensions.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Sentiment from int -> Enum
  src/analytics/Analytics.CognitiveServices.Abstractions/Sentiment/ISentimentResult.cs
  src/analytics/Analytics.CognitiveServices.Abstractions/Sentiment/SentimentResult.cs
  src/analytics/Analytics.CognitiveServices/Services/TextAnalyzerService.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

appcs dev free to standard
  pipelines/variables/development.yml
Due: none

appcs-dev free
  pipelines/variables/development.yml
Due: none

Shared.Ddd to Shared.Patterns.Ddd
  src/patterns/Patterns.Ddd/Patterns.Ddd.csproj
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

corrected infrastructure path
  pipelines/variables/common.yml
Due: none

Initial commit - internal vs external nuget push
  pipelines/steps/nuget-deploy-internal-steps.yml
  pipelines/variables/development.yml
Due: none

nuget external step
  pipelines/g2c-rg-shared.yml
  pipelines/steps/nuget-deploy-external-steps.yml
  pipelines/variables/production.yml
Due: none

Path conditions:
  pipelines/g2c-rg-shared.yml: any of: infrastructure, src
  pipelines/shared-nuget.yml: any of: src
