Repository goodtocode/persistence: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/g2c-rg-shared.yml, pipelines/gtc-rg-shared-infrastructure.yml, pipelines/shared-nuget.yml

Path conditions:
  pipelines/g2c-rg-shared.yml: any of: infrastructure, pipelines, src
  pipelines/gtc-rg-shared-infrastructure.yml: any of: infrastructure
  pipelines/shared-nuget.yml: any of: src

added nuget vars
  pipelines/steps/dotnet-pack-steps.yml
Due: pipelines/g2c-rg-shared.yml

nugetId param aligned
  pipelines/gtc-rg-shared-src.yml
  pipelines/steps/nuget-deploy-internal-steps.yml
  pipelines/variables/development.yml
  pipelines/variables/production.yml
Due: pipelines/g2c-rg-shared.yml

Prod now dotnet-build + dotnet-pack
  pipelines/gtc-rg-shared-src.yml
Due: pipelines/g2c-rg-shared.yml

Prod cogtext- to S0
  pipelines/variables/production.yml
Due: pipelines/g2c-rg-shared.yml

cogtext- to S, not S0
  pipelines/variables/production.yml
Due: pipelines/g2c-rg-shared.yml

Table name protection from "too long"
  src/persistence/Persistence.StorageTables/Services/StorageTablesService.cs
  src/persistence/Persistence.Tests/Assets/OpinionFile.xlsx
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

TableName and Columns auto-truncated
  src/persistence/Persistence.StorageTables/Configuration/StorageTablesServiceConfiguration.cs
  src/persistence/Persistence.Tests/StorageTables/StorageTables_Service_ValidationTests.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Azure App Config + appsettings.json hybrid
  README.md
  src/Persistence.Abstractions/Persistence.Abstractions.csproj
  src/Persistence.Azure.CosmosDb/Persistence.Azure.CosmosDb.csproj
  src/Persistence.Azure.StorageTables/Persistence.Azure.StorageTables.csproj
  src/Persistence.Blob.Csv/Persistence.Blob.Csv.csproj
  src/Persistence.Blob.Excel/Persistence.Blob.Excel.csproj
  src/Persistence.Tests/Factories/AppConfigurationFactory.cs
  src/Persistence.Tests/Factories/HttpRequestFactory.cs
  src/Persistence.Tests/appsettings.Development.json
  src/Persistence.Tests/appsettings.Local.json
  src/Persistence.Tests/appsettings.Production.json
  src/Persistence.Tests/appsettings.json
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

dotnet test --filter
  .gitignore
  pipelines/gtc-rg-shared-src.yml
  pipelines/steps/dotnet-test-steps.yml
  src/Persistence.Abstractions/Persistence.Abstractions.csproj
  src/Persistence.Azure.CosmosDb/Persistence.Azure.CosmosDb.csproj
  src/Persistence.Azure.StorageTables/Persistence.Azure.StorageTables.csproj
  src/Persistence.Blob.Csv/Persistence.Blob.Csv.csproj
  src/Persistence.Blob.Excel/Persistence.Blob.Excel.csproj
  src/Persistence.Tests/Persistence.Tests.csproj
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Refresh devops steps
  pipelines/gtc-rg-persistence-infrastructure.yml
  pipelines/gtc-rg-persistence-nuget.yml
  pipelines/gtc-rg-shared-infrastructure.yml
  pipelines/gtc-rg-shared-src.yml
  pipelines/scripts/Set-Version.ps1
  pipelines/scripts/System.psm1
  pipelines/steps/api-deploy-steps.yml
  pipelines/steps/api-settings-steps.yml
  pipelines/steps/appcs-deploy-steps.yml
  pipelines/steps/appcs-infrastructure-steps.yml
  pipelines/steps/appcs-settings-steps.yml
  pipelines/steps/appsetting-deploy-steps.yml
  pipelines/steps/appsettings-deploy-steps.yml
  pipelines/steps/blob-deploy-steps.yml
  pipelines/steps/dotnet-build-steps.yml
  pipelines/steps/dotnet-pack-steps.yml
  pipelines/steps/dotnet-publish-steps.yml
  pipelines/steps/func-build-steps.yml
  pipelines/steps/func-infrastructure-steps.yml
  pipelines/steps/func-settings-steps.yml
  pipelines/steps/integration-test-steps.yml
  pipelines/steps/landingzone-infrastructure-steps.yml
  pipelines/steps/logic-infrastructure-steps.yml
  pipelines/steps/lz-deploy-steps.yml
  pipelines/steps/npm-test-steps.yml
  pipelines/steps/nuget-deploy-external-steps.yml
  pipelines/steps/nuget-deploy-internal-steps.yml
  pipelines/steps/sb-infrastructure-steps.yml
  pipelines/steps/sqldb-infrastructure-steps.yml
  pipelines/steps/web-deploy-steps.yml
  pipelines/steps/web-infrastructure-steps.yml
  pipelines/steps/web-settings-steps.yml
  pipelines/steps/webjob-build-steps.yml
  pipelines/steps/webjob-deploy-steps.yml
  pipelines/steps/webjob-infrastructure-steps.yml
  pipelines/steps/webjob-settings-steps.yml
  pipelines/steps/webstatic-pack-steps.yml
  pipelines/variables/common.yml
  pipelines/variables/development.yml
  pipelines/variables/production.yml
Due: pipelines/g2c-rg-shared.yml

initial variables filled in
  pipelines/variables/development.yml
  pipelines/variables/production.yml
Due: pipelines/g2c-rg-shared.yml

connection string instructions
  README.md
  src/Persistence.Tests/appsettings.Development.json
  src/Persistence.Tests/appsettings.Production.json
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

subscriptionName -> service
  pipelines/gtc-rg-persistence-infrastructure.yml
  pipelines/steps/api-deploy-steps.yml
  pipelines/steps/api-settings-steps.yml
  pipelines/steps/appcs-infrastructure-steps.yml
  pipelines/steps/appcs-settings-steps.yml
  pipelines/steps/appsetting-deploy-steps.yml
  pipelines/steps/appsettings-deploy-steps.yml
  pipelines/steps/blob-deploy-steps.yml
  pipelines/steps/cog-deploy-steps.yml
  pipelines/steps/dotnet-build-steps.yml
  pipelines/steps/dotnet-pack-steps.yml
  pipelines/steps/dotnet-publish-steps.yml
  pipelines/steps/dotnet-test-steps.yml
  pipelines/steps/func-build-steps.yml
  pipelines/steps/func-deploy-steps.yml
  pipelines/steps/func-infrastructure-steps.yml
  pipelines/steps/func-settings-steps.yml
  pipelines/steps/integration-test-steps.yml
  pipelines/steps/landingzone-infrastructure-steps.yml
  pipelines/steps/logic-infrastructure-steps.yml
  pipelines/steps/nuget-deploy-external-steps.yml
  pipelines/steps/nuget-deploy-internal-steps.yml
  pipelines/steps/sb-infrastructure-steps.yml
  pipelines/steps/sqldb-infrastructure-steps.yml
  pipelines/steps/web-deploy-steps.yml
  pipelines/steps/web-infrastructure-steps.yml
  pipelines/steps/web-settings-steps.yml
  pipelines/steps/webjob-deploy-steps.yml
  pipelines/steps/webjob-infrastructure-steps.yml
  pipelines/steps/webjob-settings-steps.yml
  pipelines/variables/common.yml
Due: pipelines/g2c-rg-shared.yml

name->service
  pipelines/gtc-rg-persistence-infrastructure.yml
  pipelines/variables/common.yml
Due: pipelines/g2c-rg-shared.yml

subscriptionService now param
  pipelines/gtc-rg-persistence-infrastructure.yml
Due: pipelines/g2c-rg-shared.yml

param
  pipelines/variables/common.yml
Due: pipelines/g2c-rg-shared.yml

param driven
  pipelines/gtc-rg-persistence-infrastructure.yml
  pipelines/gtc-rg-persistence-nuget.yml
Due: pipelines/g2c-rg-shared.yml

extra params removed
  pipelines/gtc-rg-persistence-infrastructure.yml
  pipelines/gtc-rg-persistence-nuget.yml
  pipelines/variables/development.yml
  pipelines/variables/production.yml
Due: pipelines/g2c-rg-shared.yml

refresh ARM
  infrastructure/appcs-appconfigurationsetting.json
  infrastructure/appcs-appconfigurationsetting.parameters.json
  infrastructure/appi-applicationinsights.json
  infrastructure/appi-applicationinsights.parameters.json
  infrastructure/cog-cognitiveservices.json
  infrastructure/cog-cognitiveservices.parameters.json
  infrastructure/cogtext-textanalytics.json
  infrastructure/cogtext-textanalytics.parameters.json
  infrastructure/cosmos-cosmosdb.json
  infrastructure/cosmos-cosmosdb.parameters.json
  infrastructure/kv-keyvault.json
  infrastructure/kv-keyvault.parameters.json
  infrastructure/sqldb-sqldatabase.json
  infrastructure/sqldb-sqldatabase.parameters.json
  infrastructure/st-storageaccount.json
  infrastructure/work-loganalyticsworkspace.json
Due: pipelines/g2c-rg-shared.yml, pipelines/gtc-rg-shared-infrastructure.yml

test param
  pipelines/gtc-rg-persistence-infrastructure.yml
Due: pipelines/g2c-rg-shared.yml

service to common
  pipelines/gtc-rg-persistence-infrastructure.yml
  pipelines/gtc-rg-persistence-nuget.yml
  pipelines/variables/common.yml
Due: pipelines/g2c-rg-shared.yml

servicename to param
  pipelines/gtc-rg-persistence-infrastructure.yml
  pipelines/variables/development.yml
Due: pipelines/g2c-rg-shared.yml

removed subservice
  pipelines/variables/common.yml
Due: pipelines/g2c-rg-shared.yml

test subservice from library
  pipelines/gtc-rg-persistence-infrastructure.yml
Due: pipelines/g2c-rg-shared.yml

appcssku
  pipelines/variables/development.yml
Due: pipelines/g2c-rg-shared.yml

subservice to param
  pipelines/gtc-rg-persistence-infrastructure.yml
Due: pipelines/g2c-rg-shared.yml

infrastructure -> .azure
  .azure/appcs-appconfigurationsetting.json
Due: none

infrastructure -> .azure
  .azure/appcs-appconfigurationsetting.parameters.json
  .azure/appcs-appconfigurationstore.json
  .azure/appcs-appconfigurationstore.parameters.json
  .azure/appi-applicationinsights.json
  .azure/appi-applicationinsights.parameters.json
  .azure/cosmos-cosmosdb.json
  .azure/cosmos-cosmosdb.parameters.json
  .azure/kv-keyvault.json
  .azure/kv-keyvault.parameters.json
  .azure/sqldb-sqldatabase.json
  .azure/sqldb-sqldatabase.parameters.json
  .azure/st-storageaccount.json
  .azure/st-storageaccount.parameters.json
  .azure/work-loganalyticsworkspace.json
  .azure/work-loganalyticsworkspace.parameters.json
Due: none

paths -> .azure-devops
  .azure-devops/pipelines/gtc-rg-persistence-infrastructure.yml
  .azure-devops/pipelines/gtc-rg-persistence-nuget.yml
  .azure-devops/variables/common.yml
Due: none

common path to relative
  .azure-devops/pipelines/gtc-rg-persistence-infrastructure.yml
  .azure-devops/pipelines/gtc-rg-persistence-nuget.yml
Due: none

nuget pipe code complete
  .azure-devops/pipelines/gtc-rg-persistence-nuget.yml
  .azure-devops/steps/dotnet-build-steps.yml
  .azure-devops/steps/dotnet-pack-steps.yml
  .azure-devops/steps/dotnet-publish-steps.yml
  .azure-devops/steps/dotnet-test-steps.yml
  .azure-devops/steps/func-build-steps.yml
  .azure-devops/steps/npm-build-steps.yml
  .azure-devops/steps/npm-test-steps.yml
  .azure-devops/steps/nuget-deploy-internal-steps.yml
  .azure-devops/steps/webstatic-pack-steps.yml
Due: none

removed space in src Path
  .azure-devops/pipelines/gtc-rg-persistence-nuget.yml
Due: none

nuget pipe code complete
  .azure-devops/pipelines/gtc-rg-persistence-nuget.yml
  .azure-devops/steps/nuget-deploy-internal-steps.yml
Due: none

explicit scriptsPath
  .azure-devops/pipelines/gtc-rg-persistence-nuget.yml
  .azure-devops/scripts/Helpers.Code.psm1
  .azure-devops/scripts/Helpers.System.psm1
  .azure-devops/scripts/az-keyvault-purge.cmd
Due: none

versionToReplace value set
  .azure-devops/steps/dotnet-build-steps.yml
  .azure-devops/variables/common.yml
Due: none

no args
  .azure-devops/steps/dotnet-test-steps.yml
Due: none
