Repository goodtocode/persistence: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Path conditions:
  pipelines/g2c-rg-shared.yml: any of: infrastructure, src
  pipelines/shared-nuget.yml: any of: src

Initial commit - CosmosDbService Tests
  src/persistence/Persistence.Abstractions/Configuration/ICosmosDbServiceConfiguration.cs
  src/persistence/Persistence.Abstractions/Persistence.Abstractions.csproj
  src/persistence/Persistence.CosmosDb/Configuration/ICosmosDbServiceConfiguration.cs
  src/persistence/Persistence.CosmosDb/IEntity.cs
  src/persistence/Persistence.CosmosDb/Persistence.CosmosDb.csproj
  src/persistence/Persistence.CosmosDb/Services/CosmosDbService.cs
  src/persistence/Persistence.CosmosDb/Services/IPersistenceService.cs
  src/persistence/Persistence.Tests/CosmosDb/CosmosDbServiceTests.cs
  src/persistence/Persistence.Tests/CosmosDb/CosmosDbServiceTests.feature
  src/persistence/Persistence.Tests/CosmosDb/CosmosDbServiceTests.feature.cs
  src/persistence/Persistence.Tests/Models/EntityA.cs
  src/persistence/Persistence.Tests/Models/ObjectA.cs
  src/persistence/Persistence.Tests/Persistence.Tests.csproj
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Require hydration
  src/persistence/Persistence.Abstractions/Configuration/IPersistenceServiceConfiguration.cs
  src/persistence/Persistence.CosmosDb/Configuration/CosmosDbServiceConfiguration.cs
  src/persistence/Persistence.CosmosDb/Configuration/ICosmosDbServiceConfiguration.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Required constructor parameters
  src/persistence/Persistence.CosmosDb/Configuration/CosmosDbServiceConfiguration.cs
  src/persistence/Persistence.CosmosDb/Services/ICosmosDbService.cs
  src/persistence/Persistence.Tests/Models/GenericLogger.cs
  src/persistence/Persistence.Tests/Models/ListLogger.cs
  src/persistence/Persistence.Tests/Models/LoggerTypes.cs
  src/persistence/Persistence.Tests/Models/NullScope.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Added PROD condition for main branch only
  pipelines/g2c-rg-shared.yml
Due: none

Inheriting ICosmosDbService, not base IPersistenceService
  src/persistence/Persistence.CosmosDb/Services/CosmosDbService.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Fed configuration options
  src/persistence/Persistence.CosmosDb/Configuration/CosmosDbServiceConfigurationExtensions.cs
  src/persistence/Persistence.CosmosDb/Configuration/CosmosDbServiceOptions.cs
  src/persistence/Persistence.CosmosDb/Persistence.CosmosDb.csproj
  src/persistence/Persistence.CosmosDb/Services/CosmosDbService.cs
  src/persistence/Persistence.Tests/CosmosDb/CosmosDbServiceTests.feature.cs
  src/persistence/Persistence.Tests/Persistence.Tests.csproj
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Added references to fix specflow runtime error
  src/persistence/Persistence.Tests/Persistence.Tests.csproj
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Excluded Persistence.Tests due to specflow runtime exception
  pipelines/steps/gtc-rg-shared-src-build-steps.yml
Due: none

Moved Excel models to library
  src/blob/Blob.Excel/Models/CellData.cs
  src/blob/Blob.Excel/Models/ICellData.cs
  src/blob/Blob.Excel/Models/ICellMetadata.cs
  src/blob/Blob.Excel/Models/IColumnMetada.cs
  src/blob/Blob.Excel/Models/IRowData.cs
  src/blob/Blob.Excel/Models/IRowMetadata.cs
  src/blob/Blob.Excel/Models/ISheetMetadata.cs
  src/blob/Blob.Excel/Models/RowData.cs
  src/blob/Blob.Excel/Models/SheetData.cs
  src/blob/Blob.Excel/Models/WorkbookData.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Sample key defaulted to Shared:Sentinel
  infrastructure/appcs-appconfigurationstore.parameters.json
Due: pipelines/g2c-rg-shared.yml

Initial commit - SheetData
  src/blob/Blob.Abstractions/Blob.Abstractions.csproj
  src/blob/Blob.Abstractions/Excel/CellData.cs
  src/blob/Blob.Abstractions/Excel/ColumnData.cs
  src/blob/Blob.Abstractions/Excel/ICellData.cs
  src/blob/Blob.Abstractions/Excel/ICellMetadata.cs
  src/blob/Blob.Abstractions/Excel/IColumnData.cs
  src/blob/Blob.Abstractions/Excel/IColumnMetadata.cs
  src/blob/Blob.Abstractions/Excel/IRowData.cs
  src/blob/Blob.Abstractions/Excel/IRowMetadata.cs
  src/blob/Blob.Abstractions/Excel/ISheetData.cs
  src/blob/Blob.Abstractions/Excel/ISheetMetadata.cs
  src/blob/Blob.Abstractions/Excel/IWorkbookData.cs
  src/blob/Blob.Abstractions/Excel/IWorkbookMetadata.cs
  src/blob/Blob.Abstractions/Excel/RowData.cs
  src/blob/Blob.Abstractions/Excel/SheetData.cs
  src/blob/Blob.Abstractions/Excel/WorkbookData.cs
  src/blob/Blob.Abstractions/favicon.ico
  src/blob/Blob.Abstractions/storeicon.png
  src/blob/Blob.Excel/Models/ICellMetadata.cs
  src/blob/Blob.Excel/Models/IColumnMetada.cs
  src/blob/Blob.Excel/Models/ISheetData.cs
  src/blob/Blob.Excel/Models/ISheetMetadata.cs
  src/blob/Blob.Excel/Models/RowData.cs
  src/blob/Blob.Excel/Models/SheetData.cs
  src/blob/Blob.Excel/Models/WorkbookData.cs
  src/blob/Blob.Excel/Services/ExcelService.cs
  src/blob/Blob.Excel/Services/IExcelService.cs
  src/blob/Blob.Excel/Services/INpoiService.cs
  src/blob/Blob.Excel/Services/NpoiService.cs
  src/blob/Shared.Blob.sln
  src/persistence/Persistence.CosmosDb/Configuration/CosmosDbServiceConfigurationExtensions.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Created tests for both object readers
  src/blob/Blob.Excel/Infrastructure/NpoiBlobReader.cs
  src/blob/Blob.Excel/Services/ExcelService.cs
  src/blob/Blob.Tests/Blob.Tests.csproj
  src/blob/Blob.Tests/Excel/ExcelBlobReaderTests.cs
  src/blob/Blob.Tests/Excel/NpoiBlobReaderTests.cs
  src/blob/Blob.Tests/Excel/NpoiBloblReaderTests.feature
  src/blob/Blob.Tests/Excel/NpoiBloblReaderTests.feature.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Fixed rowCount and cast bug with tests
  src/blob/Blob.Abstractions/Excel/RowData.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

IEntity normalized for nosql w/ PartitionKey and RowKey
  src/blob/Blob.Abstractions/Excel/SheetData.cs
  src/blob/Blob.Excel/Blob.Excel.csproj
  src/persistence/Persistence.Abstractions/IEntity/IEntity.cs
  src/persistence/Persistence.CosmosDb/Configuration/CosmosDbServiceConfiguration.cs
  src/persistence/Persistence.CosmosDb/Configuration/CosmosDbServiceOptions.cs
  src/persistence/Persistence.CosmosDb/Configuration/ICosmosDbServiceConfiguration.cs
  src/persistence/Persistence.CosmosDb/Services/CosmosDbService.cs
  src/persistence/Persistence.Tests/Models/EntityA.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Opened trigger to all branches
  pipelines/g2c-rg-shared.yml
Due: none

Removed excess constructors
  src/blob/Blob.Abstractions/Excel/ColumnData.cs
  src/blob/Blob.Abstractions/Excel/RowData.cs
  src/blob/Blob.Abstractions/Excel/SheetData.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Test projects downgraded from specflow to plain mstest for stability
  src/blob/Blob.Tests/Blob.Tests.csproj
  src/blob/Blob.Tests/Excel/ExcelBlobReaderTests.cs
  src/blob/Blob.Tests/Excel/ExcelBloblReaderTests.feature
  src/blob/Blob.Tests/Excel/ExcelBloblReaderTests.feature.cs
  src/blob/Blob.Tests/Excel/NpoiBlobReaderTests.cs
  src/blob/Blob.Tests/Excel/NpoiBloblReaderTests.feature
  src/blob/Blob.Tests/Excel/NpoiBloblReaderTests.feature.cs
  src/blob/Blob.Tests/Factories/AppConfigurationFactory.cs
  src/blob/Blob.Tests/Factories/Converter.cs
  src/blob/Blob.Tests/Factories/LoggerFactory.cs
  src/blob/Blob.Tests/Factories/StringExtensions.cs
  src/blob/Blob.Tests/Models/EntityA.cs
  src/blob/Blob.Tests/Models/GenericLogger.cs
  src/blob/Blob.Tests/Models/ListLogger.cs
  src/blob/Blob.Tests/Models/LoggerTypes.cs
  src/blob/Blob.Tests/Models/NullScope.cs
  src/blob/Blob.Tests/Models/ObjectA.cs
  src/persistence/Persistence.Tests/CosmosDb/CosmosDbServiceTests.cs
  src/persistence/Persistence.Tests/CosmosDb/CosmosDbServiceTests.feature
  src/persistence/Persistence.Tests/CosmosDb/CosmosDbServiceTests.feature.cs
  src/persistence/Persistence.Tests/Persistence.Tests.csproj
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Incremental
  pipelines/steps/gtc-rg-shared-src-build-steps.yml
  src/persistence/Persistence.Abstractions/Services/IPersistenceService.cs
  src/persistence/Persistence.CosmosDb/Configuration/CosmosDbServiceOptions.cs
  src/persistence/Persistence.CosmosDb/Services/CosmosDbItemService.cs
  src/persistence/Persistence.CosmosDb/Services/CosmosDbService.cs
  src/persistence/Persistence.CosmosDb/Services/ICosmosDbItemService.cs
  src/persistence/Persistence.Tests/CosmosDb/CosmosDbServiceTests.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Fixed compile errors
  src/persistence/Persistence.Abstractions/Services/IEntityPersistenceService.cs
  src/persistence/Persistence.Abstractions/Services/IPersistenceService.cs
  src/persistence/Persistence.CosmosDb/Configuration/CosmosDbServiceConfigurationExtensions.cs
  src/persistence/Persistence.CosmosDb/Services/CosmosDbContainerService.cs
  src/persistence/Persistence.CosmosDb/Services/CosmosDbItemService.cs
  src/persistence/Persistence.CosmosDb/Services/CosmosDbService.cs
  src/persistence/Persistence.CosmosDb/Services/ICosmosDbContainerService.cs
  src/persistence/Persistence.CosmosDb/Services/ICosmosDbItemService.cs
  src/persistence/Persistence.Tests/CosmosDb/CosmosDbServiceTests.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Compile clean. Ready to continue stubbing tests
  src/persistence/Persistence.CosmosDb/Configuration/CosmosDbServiceOptions.cs
  src/persistence/Persistence.CosmosDb/Services/CosmosDbContainerService.cs
  src/persistence/Persistence.CosmosDb/Services/CosmosDbItemService.cs
  src/persistence/Persistence.Tests/CosmosDb/CosmosDbServiceTests.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Creating is working
  src/persistence/Persistence.Abstractions/IEntity/IEntity.cs
  src/persistence/Persistence.CosmosDb/Configuration/CosmosDbServiceConfiguration.cs
  src/persistence/Persistence.CosmosDb/Configuration/ICosmosDbServiceConfiguration.cs
  src/persistence/Persistence.CosmosDb/Services/CosmosDbContainerService.cs
  src/persistence/Persistence.CosmosDb/Services/CosmosDbItemService.cs
  src/persistence/Persistence.Tests/CosmosDb/CosmosDbServiceTests.cs
  src/persistence/Persistence.Tests/Models/EntityA.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Fixed logger = null issue
  src/persistence/Persistence.CosmosDb/Services/CosmosDbItemService.cs
  src/persistence/Persistence.Tests/CosmosDb/CosmosDbServiceTests.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Cosmosdb create/read/write tests pass
  src/persistence/Persistence.Abstractions/IEntity/IEntity.cs
  src/persistence/Persistence.Abstractions/Services/IEntityPersistenceService.cs
  src/persistence/Persistence.CosmosDb/Services/CosmosDbContainerService.cs
  src/persistence/Persistence.CosmosDb/Services/CosmosDbItemService.cs
  src/persistence/Persistence.Tests/CosmosDb/CosmosDbServiceTests.cs
  src/persistence/Persistence.Tests/Models/EntityA.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Moved group higher, doesnt seem to be linking to vars
  pipelines/variables/development.yml
  pipelines/variables/production.yml
Due: none

Telemetry for variables
  pipelines/steps/gtc-rg-shared-src-test-steps.yml
Due: none

Changed subscription to appdev-001
  pipelines/variables/common.yml
Due: none

Subscription rename
  pipelines/variables/common.yml
Due: none

ExcelService tests created
  src/blob/Blob.Excel/Services/IExcelService.cs
  src/blob/Blob.Tests/Blob.Tests.csproj
  src/blob/Blob.Tests/File/ExcelFileReaderTests.cs
  src/blob/Blob.Tests/File/NpoiFileReaderTests.cs
  src/blob/Blob.Tests/Services/ExcelServiceTests.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Verified IWorkbookData
  src/blob/Blob.Abstractions/Excel/IWorkbookData.cs
  src/blob/Blob.Abstractions/Excel/WorkbookData.cs
  src/blob/Blob.Excel/Blob.Excel.csproj
  src/blob/Blob.Excel/Extensions/ICellExtensions.cs
  src/blob/Blob.Excel/Extensions/ISheetExtensions.cs
  src/blob/Blob.Excel/Extensions/IWorkbookExtensions.cs
  src/blob/Blob.Excel/Services/ExcelService.cs
  src/blob/Blob.Excel/Services/IExcelService.cs
  src/blob/Blob.Tests/Extensions/NpoiExtensionsTests.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

IEntity.id now a string
  src/blob/Blob.Abstractions/Cell/CellData.cs
  src/blob/Blob.Abstractions/Cell/ICellData.cs
  src/blob/Blob.Abstractions/Cell/ICellMetadata.cs
  src/blob/Blob.Abstractions/Column/ColumnData.cs
  src/blob/Blob.Abstractions/Column/IColumnData.cs
  src/blob/Blob.Abstractions/Column/IColumnMetadata.cs
  src/blob/Blob.Abstractions/Row/IRowData.cs
  src/blob/Blob.Abstractions/Row/IRowMetadata.cs
  src/blob/Blob.Abstractions/Row/RowData.cs
  src/blob/Blob.Abstractions/Sheet/ISheetData.cs
  src/blob/Blob.Abstractions/Sheet/ISheetMetadata.cs
  src/blob/Blob.Abstractions/Sheet/SheetData.cs
  src/blob/Blob.Abstractions/Workbook/IWorkbookData.cs
  src/blob/Blob.Abstractions/Workbook/IWorkbookMetadata.cs
  src/blob/Blob.Abstractions/Workbook/WorkbookData.cs
  src/blob/Blob.Excel/Services/ExcelService.cs
  src/blob/Blob.Tests/Services/NpoiServiceTests.cs
  src/persistence/Persistence.Abstractions/IEntity/IEntityCosmosDb.cs
  src/persistence/Persistence.Abstractions/IEntity/IEntityStorageTable.cs
  src/persistence/Persistence.Tests/CosmosDb/CosmosDbServiceTests.cs
  src/persistence/Persistence.Tests/Models/EntityA.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Added cell transform object
  src/blob/Blob.Abstractions/Cell/CellData.cs
  src/blob/Blob.Abstractions/Column/ColumnTransformData.cs
  src/blob/Blob.Abstractions/Column/IColumnMetadata.cs
  src/blob/Blob.Abstractions/Column/IColumnTransformData.cs
  src/blob/Blob.Abstractions/Row/IRowMetadata.cs
  src/blob/Blob.Abstractions/Row/RowData.cs
  src/blob/Blob.Abstractions/Sheet/ISheetMetadata.cs
  src/blob/Blob.Abstractions/Sheet/SheetData.cs
  src/blob/Blob.Abstractions/Workbook/IWorkbookMetadata.cs
  src/blob/Blob.Abstractions/Workbook/WorkbookData.cs
  src/blob/Blob.Excel/Extensions/ISheetExtensions.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

renamed partitionkey to path, found a hardcode and replaced with this property
  src/persistence/Persistence.CosmosDb/Configuration/CosmosDbServiceConfiguration.cs
  src/persistence/Persistence.CosmosDb/Configuration/ICosmosDbServiceConfiguration.cs
  src/persistence/Persistence.CosmosDb/Services/CosmosDbContainerService.cs
  src/persistence/Persistence.CosmosDb/Services/CosmosDbItemService.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Reduced column vs. cell complexity. Cell wins, minus transformations
  src/blob/Blob.Abstractions/Cell/CellTransformData.cs
  src/blob/Blob.Abstractions/Cell/ICellTransformData.cs
  src/blob/Blob.Abstractions/Column/ColumnData.cs
  src/blob/Blob.Abstractions/Column/ColumnTransformData.cs
  src/blob/Blob.Abstractions/Column/IColumnData.cs
  src/blob/Blob.Abstractions/Column/IColumnMetadata.cs
  src/blob/Blob.Abstractions/Column/IColumnTransformData.cs
  src/blob/Blob.Abstractions/Sheet/ISheetData.cs
  src/blob/Blob.Abstractions/Sheet/SheetData.cs
  src/blob/Blob.Excel/Services/ExcelService.cs
  src/blob/Blob.Excel/Services/IExcelService.cs
  src/blob/Blob.Tests/Services/ExcelServiceTests.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

All fields populated and mapped. Ready for persistence
  src/blob/Blob.Abstractions/Cell/CellData.cs
  src/blob/Blob.Abstractions/Cell/CellTransformData.cs
  src/blob/Blob.Abstractions/Row/IRowMetadata.cs
  src/blob/Blob.Abstractions/Row/RowData.cs
  src/blob/Blob.Abstractions/Workbook/WorkbookData.cs
  src/blob/Blob.Excel/Extensions/ISheetExtensions.cs
  src/blob/Blob.Excel/Extensions/IWorkbookExtensions.cs
  src/blob/Blob.Excel/Services/ExcelService.cs
  src/blob/Blob.Tests/Extensions/NpoiExtensionsTests.cs
  src/blob/Blob.Tests/File/ExcelFileReaderTests.cs
  src/blob/Blob.Tests/Services/ExcelServiceTests.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

storage items
  src/blob/Blob.Excel/Extensions/ISheetExtensions.cs
  src/persistence/Persistence.StorageTables/Configuration/IStorageTablesServiceConfiguration.cs
  src/persistence/Persistence.StorageTables/Configuration/StorageTablesServiceConfiguration.cs
  src/persistence/Persistence.StorageTables/Configuration/StorageTablesServiceConfigurationExtensions.cs
  src/persistence/Persistence.StorageTables/Configuration/StorageTablesServiceOptions.cs
  src/persistence/Persistence.StorageTables/Extensions/ObjectExtensions.cs
  src/persistence/Persistence.StorageTables/Persistence.StorageTables.csproj
  src/persistence/Persistence.StorageTables/Services/IStorageTablesItemService.cs
  src/persistence/Persistence.StorageTables/Services/StorageTablesItemService.cs
  src/persistence/Persistence.StorageTables/TBD/Core/CovidCsv.cs
  src/persistence/Persistence.StorageTables/TBD/Core/CovidRegion.cs
  src/persistence/Persistence.StorageTables/TBD/Core/CovidStat.cs
  src/persistence/Persistence.StorageTables/TBD/Core/CovidSummary.cs
  src/persistence/Persistence.StorageTables/TBD/Core/Hospitalization.cs
  src/persistence/Persistence.StorageTables/TBD/Core/HospitalizationCsv.cs
  src/persistence/Persistence.StorageTables/TBD/Core/HospitalizationSummary.cs
  src/persistence/Persistence.StorageTables/TBD/Core/ICovidRegion.cs
  src/persistence/Persistence.StorageTables/TBD/Core/ICovidStat.cs
  src/persistence/Persistence.StorageTables/TBD/Core/IHospitalization.cs
  src/persistence/Persistence.StorageTables/TBD/Infrastructure/AzureBlob.cs
  src/persistence/Persistence.StorageTables/TBD/Infrastructure/AzureFunction.cs
  src/persistence/Persistence.StorageTables/TBD/Infrastructure/AzureTable.cs
  src/persistence/Persistence.StorageTables/TBD/Infrastructure/CovidEntity.cs
  src/persistence/Persistence.StorageTables/TBD/Infrastructure/HospitalizationEntity.cs
  src/persistence/Persistence.StorageTables/TBD/Infrastructure/SitRepTable.cs
  src/persistence/Persistence.StorageTables/TBD/Presentation/DownloadCsvToBlob.cs
  src/persistence/Persistence.StorageTables/TBD/Presentation/HospitalCsvToTableRecord.cs
  src/persistence/Persistence.StorageTables/TBD/Presentation/HttpCsvToJson.cs
  src/persistence/Persistence.StorageTables/TBD/Presentation/InsertBlobToTable.cs
  src/persistence/Persistence.StorageTables/TBD/Presentation/SitRepSummary.cs
  src/persistence/Shared.Persistence.sln
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Code complete, tests failing
  src/persistence/Persistence.Abstractions/Configuration/IPersistenceServiceConfiguration.cs
  src/persistence/Persistence.Abstractions/IEntity/IEntity.cs
  src/persistence/Persistence.Abstractions/IEntity/IEntityCosmosDb.cs
  src/persistence/Persistence.Abstractions/IEntity/IEntityStorageTable.cs
  src/persistence/Persistence.Abstractions/Persistence.Abstractions.csproj
  src/persistence/Persistence.Abstractions/Services/IEntityPersistenceService.cs
  src/persistence/Persistence.CosmosDb/Configuration/ICosmosDbServiceConfiguration.cs
  src/persistence/Persistence.CosmosDb/Services/CosmosDbItemService.cs
  src/persistence/Persistence.StorageTables/Configuration/IStorageTablesServiceConfiguration.cs
  src/persistence/Persistence.StorageTables/Configuration/StorageTablesServiceConfiguration.cs
  src/persistence/Persistence.StorageTables/Configuration/StorageTablesServiceConfigurationExtensions.cs
  src/persistence/Persistence.StorageTables/Configuration/StorageTablesServiceOptions.cs
  src/persistence/Persistence.StorageTables/Persistence.StorageTables.csproj
  src/persistence/Persistence.StorageTables/Services/IStorageTablesItemService.cs
  src/persistence/Persistence.StorageTables/Services/StorageTablesItemService.cs
  src/persistence/Persistence.StorageTables/TBD/Core/CovidCsv.cs
  src/persistence/Persistence.StorageTables/TBD/Core/CovidRegion.cs
  src/persistence/Persistence.StorageTables/TBD/Core/CovidStat.cs
  src/persistence/Persistence.StorageTables/TBD/Core/CovidSummary.cs
  src/persistence/Persistence.StorageTables/TBD/Core/Hospitalization.cs
  src/persistence/Persistence.StorageTables/TBD/Core/HospitalizationCsv.cs
  src/persistence/Persistence.StorageTables/TBD/Core/HospitalizationSummary.cs
  src/persistence/Persistence.StorageTables/TBD/Core/ICovidRegion.cs
  src/persistence/Persistence.StorageTables/TBD/Core/ICovidStat.cs
  src/persistence/Persistence.StorageTables/TBD/Core/IHospitalization.cs
  src/persistence/Persistence.StorageTables/TBD/Infrastructure/AzureBlob.cs
  src/persistence/Persistence.StorageTables/TBD/Infrastructure/AzureFunction.cs
  src/persistence/Persistence.StorageTables/TBD/Infrastructure/AzureTable.cs
  src/persistence/Persistence.StorageTables/TBD/Infrastructure/CovidEntity.cs
  src/persistence/Persistence.StorageTables/TBD/Infrastructure/HospitalizationEntity.cs
  src/persistence/Persistence.StorageTables/TBD/Infrastructure/SitRepTable.cs
  src/persistence/Persistence.StorageTables/TBD/Presentation/DownloadCsvToBlob.cs
  src/persistence/Persistence.StorageTables/TBD/Presentation/HospitalCsvToTableRecord.cs
  src/persistence/Persistence.StorageTables/TBD/Presentation/HttpCsvToJson.cs
  src/persistence/Persistence.StorageTables/TBD/Presentation/InsertBlobToTable.cs
  src/persistence/Persistence.StorageTables/TBD/Presentation/SitRepSummary.cs
  src/persistence/Persistence.Tests/CosmosDb/CosmosDbServiceTests.cs
  src/persistence/Persistence.Tests/Models/EntityA.cs
  src/persistence/Persistence.Tests/Persistence.Tests.csproj
  src/persistence/Persistence.Tests/StorageTables/StorageTablesServiceTests.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Added filter for table name
  src/persistence/Persistence.StorageTables/Configuration/StorageTablesServiceConfiguration.cs
  src/persistence/Persistence.StorageTables/Services/StorageTablesItemService.cs
  src/persistence/Persistence.Tests/Models/EntityA.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Storage Accounts tests pass.
  src/persistence/Persistence.Abstractions/IEntity/IEntityCosmosDb.cs
  src/persistence/Persistence.StorageTables/Configuration/StorageTablesServiceConfiguration.cs
  src/persistence/Persistence.StorageTables/Services/IStorageTablesItemService.cs
  src/persistence/Persistence.StorageTables/Services/StorageTablesItemService.cs
  src/persistence/Persistence.Tests/StorageTables/StorageTablesServiceTests.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml
