Repository goodtocode/persistence: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

pipelines/g2c-rg-shared.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: development
    condition: and(ne(variables['Build.SourceBranch'], 'refs/heads/main'), not(startsWith(variables['Build.SourceBranch'], 'refs/pull')), ne(variables['Build.Reason'], 'PullRequest'))
    variables:
    - template: variables/development.yml
  ...

pipelines/shared-nuget.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: windows-latest
      steps:
      - task: PowerShell@2
        displayName: Set-Version
        inputs:
          filePath: pipelines/Shared.Deploy/Assembly/Set-Version.ps1
  ...

AddItemAsync w/ Dictionary<string, object> now supported. Tests pass
  src/persistence/Persistence.StorageTables/Services/StorageTablesService.cs
  src/persistence/Persistence.Tests/StorageTables/StorageTables_Service_DictionaryTests.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Env var key was wrong
  src/persistence/Persistence.Tests/EnvironmentVariableKeys.cs
  src/persistence/Persistence.Tests/Factories/AppConfigurationFactory.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Beginning to reproduce Type not supported error
  src/persistence/Persistence.Tests/Models/RowEntity.cs
  src/persistence/Persistence.Tests/Models/RowEntity/INamedEntity.cs
  src/persistence/Persistence.Tests/Models/RowEntity/IRowEntity.cs
  src/persistence/Persistence.Tests/Models/RowEntity/NamedEntity.cs
  src/persistence/Persistence.Tests/Models/RowEntity/RowEntity.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Reproduced Not supported type error
  src/persistence/Persistence.StorageTables/Services/StorageTablesService.cs
  src/persistence/Persistence.Tests/Factories/TextAnalyzerResultFactory.cs
  src/persistence/Persistence.Tests/Models/RowEntity/INamedEntity.cs
  src/persistence/Persistence.Tests/Models/RowEntity/IRowEntity.cs
  src/persistence/Persistence.Tests/Models/RowEntity/NamedEntity.cs
  src/persistence/Persistence.Tests/Models/RowEntity/RowEntity.cs
  src/persistence/Persistence.Tests/StorageTables/StorageTables_Service_EntityTests.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

ToDictionary only includes primitives, value and guid and string now. Excludes complex properties
  src/blob/Blob.Abstractions/Extensions/RowDataExtensions.cs
  src/persistence/Persistence.Abstractions/Extensions/ObjectExtensions.cs
  src/persistence/Persistence.StorageTables/Services/StorageTablesService.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Added isprimitive/value/guid/string for ToDictionaru()
  src/blob/Blob.Abstractions/Extensions/RowDataExtensions.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Updated nuget
  src/dotnet/dotNet.EntityFramework/dotNet.EntityFramework.csproj
  src/dotnet/dotNet.Identity/dotNet.Identity.csproj
  src/patterns/Patterns.Repository/Patterns.Repository.csproj
  src/patterns/Patterns.Tests/Patterns.Tests.csproj
  src/persistence/Persistence.CosmosDb/Persistence.CosmosDb.csproj
  src/persistence/Persistence.StorageTables/Persistence.StorageTables.csproj
  src/persistence/Persistence.Tests/Persistence.Tests.csproj
  src/spatial/Spatial.Geometry/Spatial.Geometry.csproj
  src/spatial/Spatial.Tests/Spatial.Tests.csproj
  src/text-analytics/TextAnalytics.CognitiveServices/TextAnalytics.CognitiveServices.csproj
  src/text-analytics/TextAnalytics.Tests/TextAnalytics.Tests.csproj
  src/workflows/Workflows.Tests/Workflows.Tests.csproj
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

EnvVar to GTC_SHARED_CONNECTION
  pipelines/steps/src-test-steps.yml
  src/dotnet/dotNet.Tests/EnvironmentVariableKeys.cs
  src/dotnet/dotNet.Tests/Factories/AppConfigurationFactory.cs
  src/patterns/Patterns.Repository/DbContext/GenericDbContext.cs
  src/patterns/Patterns.Tests/EnvironmentVariableKeys.cs
  src/patterns/Patterns.Tests/Factories/AppConfigurationFactory.cs
  src/spatial/Spatial.Tests/EnvironmentVariableKeys.cs
  src/spatial/Spatial.Tests/Factories/AppConfigurationFactory.cs
  src/text-analytics/TextAnalytics.Tests/EnvironmentVariableKeys.cs
  src/text-analytics/TextAnalytics.Tests/Factories/AppConfigurationFactory.cs
  src/workflows/EnvironmentVariableKeys.cs
  src/workflows/Workflows.Tests/EnvironmentVariableKeys.cs
  src/workflows/Workflows.Tests/Factories/AppConfigurationFactory.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

ToDictionary() -> ToDictionaryString() for preciseness
  src/dotnet/dotNet.System/System/ObjectExtensions.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

EnvVar typo fixed GTC_ANALYTICS_CONNECTION
  src/persistence/Persistence.Tests/EnvironmentVariableKeys.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Strong casting of IStorageService added
  src/dotnet/dotNet.System/System/ObjectExtensions.cs
  src/persistence/Persistence.Abstractions/Extensions/ObjectExtensions.cs
  src/persistence/Persistence.StorageTables/Services/IStorageTablesService.cs
  src/persistence/Persistence.StorageTables/Services/StorageTablesService.cs
  src/persistence/Persistence.Tests/StorageTables/StorageTables_Service_GenericTests.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

ToSheetData() was dropping last row
  src/blob/Blob.Excel/Extensions/ISheetExtensions.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

StorageTableService.DeletePartitionAsync() added
  src/persistence/Persistence.StorageTables/Services/IStorageTablesService.cs
  src/persistence/Persistence.StorageTables/Services/StorageTablesService.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Changed .Concat to explicit TryAdd()
  src/persistence/Persistence.StorageTables/Services/StorageTablesService.cs
  src/persistence/Persistence.Tests/CosmosDb/CosmosDbServiceTests.cs
  src/persistence/Persistence.Tests/StorageTables/StorageTables_Service_DictionaryTests.cs
  src/persistence/Persistence.Tests/StorageTables/StorageTables_Service_EntityTests.cs
  src/persistence/Persistence.Tests/StorageTables/StorageTables_Service_GenericTests.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Updated nugets
  src/blob/Blob.Excel/Blob.Excel.csproj
  src/blob/Blob.Tests/Blob.Tests.csproj
  src/dotnet/dotNet.Identity/dotNet.Identity.csproj
  src/dotnet/dotNet.Tests/dotNet.Tests.csproj
  src/patterns/Patterns.Tests/Patterns.Tests.csproj
  src/persistence/Persistence.CosmosDb/Persistence.CosmosDb.csproj
  src/persistence/Persistence.Tests/Persistence.Tests.csproj
  src/spatial/Spatial.Tests/Spatial.Tests.csproj
  src/text-analytics/TextAnalytics.Tests/TextAnalytics.Tests.csproj
  src/workflows/Workflows.Tests/Workflows.Tests.csproj
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

pipelines - src/test before deploy
  pipelines/g2c-rg-shared.yml
Due: pipelines/g2c-rg-shared.yml

Added IsValidIdentifier()
  src/dotnet/dotNet.System/System/StringExtensions.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Moved some vars to library
  pipelines/variables/common.yml
  pipelines/variables/development.yml
  pipelines/variables/production.yml
Due: pipelines/g2c-rg-shared.yml

Removed PR stage
  pipelines/g2c-rg-shared.yml
Due: pipelines/g2c-rg-shared.yml

Added DeletePartitionsAsync
  src/persistence/Persistence.StorageTables/Services/IStorageTablesService.cs
  src/persistence/Persistence.StorageTables/Services/StorageTablesService.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

hard return for table client if exist, to avoid costly exceptions
  src/persistence/Persistence.StorageTables/Services/StorageTablesService.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Added Timestamp to IEntity (mirror IDataEntity)
  src/persistence/Persistence.Abstractions/IEntity/IEntity.cs
  src/persistence/Persistence.Tests/Models/EntityA.cs
  src/persistence/Persistence.Tests/Models/RowEntity/RowEntity.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Monosolution
  pipelines/steps/src-build-steps.yml
  src/GoodToCode.Shared.sln
  src/blob/Blob.Abstractions/Blob.Abstractions.csproj
  src/blob/Blob.Csv/Blob.Csv.csproj
  src/blob/Blob.Excel/Blob.Excel.csproj
  src/blob/Blob.Tests/Blob.Tests.csproj
  src/blob/GoodToCode.Shared.Blob.sln
  src/dotnet/GoodToCode.Shared.dotNet.sln
  src/dotnet/dotNet.Configuration/dotNet.Configuration.csproj
  src/dotnet/dotNet.EntityFramework/dotNet.EntityFramework.csproj
  src/dotnet/dotNet.IO/dotNet.IO.csproj
  src/dotnet/dotNet.Identity/dotNet.Identity.csproj
  src/dotnet/dotNet.Net/dotNet.Net.csproj
  src/dotnet/dotNet.System/dotNet.System.csproj
  src/dotnet/dotNet.Tests/dotNet.Tests.csproj
  src/patterns/GoodToCode.Shared.Patterns.sln
  src/persistence/GoodToCode.Shared.Persistence.sln
  src/persistence/Persistence.Abstractions/Persistence.Abstractions.csproj
  src/persistence/Persistence.CosmosDb/Persistence.CosmosDb.csproj
  src/persistence/Persistence.StorageTables/Persistence.StorageTables.csproj
  src/persistence/Persistence.Tests/Persistence.Tests.csproj
  src/spatial/GoodToCode.Shared.Spatial.sln
  src/spatial/Spatial.Geometry/Spatial.Geometry.csproj
  src/spatial/Spatial.Tests/Spatial.Tests.csproj
  src/text-analytics/GoodToCode.Shared.TextAnalytics.sln
  src/text-analytics/TextAnalytics.CognitiveServices.Abstractions/TextAnalytics.Abstractions.csproj
  src/text-analytics/TextAnalytics.CognitiveServices/TextAnalytics.CognitiveServices.csproj
  src/text-analytics/TextAnalytics.Tests/TextAnalytics.Tests.csproj
  src/workflows/GoodToCode.Shared.Workflows.sln
  src/workflows/Workflows.Abstractions/Workflows.Abstractions.csproj
  src/workflows/Workflows.Tests/Workflows.Tests.csproj
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Updated to .net 6, v 6.20.1 - Merge
  src/blob/Blob.Tests/Factories/AppConfigurationFactory.cs
  src/dotnet/dotNet.Tests/Factories/AppConfigurationFactory.cs
  src/patterns/Patterns.Tests/Factories/AppConfigurationFactory.cs
  src/persistence/Persistence.StorageTables/Services/StorageTablesService.cs
  src/persistence/Persistence.Tests/Factories/AppConfigurationFactory.cs
  src/spatial/Spatial.Tests/Factories/AppConfigurationFactory.cs
  src/text-analytics/TextAnalytics.Tests/AppConfigurationKeys.cs
  src/text-analytics/TextAnalytics.Tests/Configuration/Configuration_OptionsPatternTests.cs
  src/text-analytics/TextAnalytics.Tests/Factories/AppConfigurationFactory.cs
  src/workflows/Workflows.Tests/Factories/AppConfigurationFactory.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

6.20.1 -> 6.22.1
  pipelines/steps/src-build-steps.yml
  src/blob/Blob.Abstractions/Blob.Abstractions.csproj
  src/blob/Blob.Csv/Blob.Csv.csproj
  src/blob/Blob.Excel/Blob.Excel.csproj
  src/blob/Blob.Tests/Blob.Tests.csproj
  src/dotnet/dotNet.Configuration/dotNet.Configuration.csproj
  src/dotnet/dotNet.EntityFramework/dotNet.EntityFramework.csproj
  src/dotnet/dotNet.IO/dotNet.IO.csproj
  src/dotnet/dotNet.Identity/dotNet.Identity.csproj
  src/dotnet/dotNet.Net/dotNet.Net.csproj
  src/dotnet/dotNet.System/dotNet.System.csproj
  src/dotnet/dotNet.Tests/dotNet.Tests.csproj
  src/patterns/Patterns.Cqrs/Patterns.Cqrs.csproj
  src/patterns/Patterns.Ddd/Patterns.Ddd.csproj
  src/patterns/Patterns.Repository/Patterns.Repository.csproj
  src/patterns/Patterns.Tests/Patterns.Tests.csproj
  src/persistence/Persistence.Abstractions/Persistence.Abstractions.csproj
  src/persistence/Persistence.CosmosDb/Persistence.CosmosDb.csproj
  src/persistence/Persistence.StorageTables/Persistence.StorageTables.csproj
  src/persistence/Persistence.Tests/Persistence.Tests.csproj
  src/spatial/Spatial.Geometry/Spatial.Geometry.csproj
  src/spatial/Spatial.Tests/Spatial.Tests.csproj
  src/text-analytics/TextAnalytics.CognitiveServices.Abstractions/TextAnalytics.Abstractions.csproj
  src/text-analytics/TextAnalytics.CognitiveServices/TextAnalytics.CognitiveServices.csproj
  src/text-analytics/TextAnalytics.Tests/TextAnalytics.Tests.csproj
  src/workflows/Workflows.Abstractions/Workflows.Abstractions.csproj
  src/workflows/Workflows.Tests/Workflows.Tests.csproj
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Added missing config values
  src/blob/Blob.Tests/appsettings.json
  src/patterns/Patterns.Tests/appsettings.json
  src/spatial/Spatial.Tests/AppConfigurationKeys.cs
  src/spatial/Spatial.Tests/appsettings.json
  src/text-analytics/TextAnalytics.Tests/appsettings.Development.json
  src/text-analytics/TextAnalytics.Tests/appsettings.json
  src/workflows/Workflows.Tests/appsettings.json
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Initial commit - appsettings.production.json
  src/blob/Blob.Tests/Blob.Tests.csproj
  src/blob/Blob.Tests/appsettings.Production.json
  src/dotnet/dotNet.Tests/appsettings.Production.json
  src/dotnet/dotNet.Tests/dotNet.Tests.csproj
  src/patterns/Patterns.Tests/Patterns.Tests.csproj
  src/patterns/Patterns.Tests/appsettings.Production.json
  src/persistence/Persistence.Tests/Persistence.Tests.csproj
  src/persistence/Persistence.Tests/appsettings.Production.json
  src/spatial/Spatial.Tests/Spatial.Tests.csproj
  src/spatial/Spatial.Tests/appsettings.Production.json
  src/text-analytics/TextAnalytics.Tests/TextAnalytics.Tests.csproj
  src/text-analytics/TextAnalytics.Tests/appsettings.Production.json
  src/workflows/Workflows.Tests/Workflows.Tests.csproj
  src/workflows/Workflows.Tests/appsettings.Development.json
  src/workflows/Workflows.Tests/appsettings.Production.json
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Update README.md
  README.md
Due: none

StorageTableService AddItemAndKeys()
  src/persistence/Persistence.StorageTables/Services/StorageTablesService.cs
  src/persistence/Persistence.Tests/StorageTables/StorageTables_Service_DictionaryTests.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

TableName protected against null
  src/persistence/Persistence.StorageTables/Configuration/StorageTablesServiceConfiguration.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Validation
  src/persistence/Persistence.StorageTables/Configuration/StorageTablesServiceConfiguration.cs
  src/persistence/Persistence.Tests/StorageTables/StorageTables_Service_ValidationTests.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Test methods for validator
  src/persistence/Persistence.StorageTables/Configuration/StorageTablesServiceConfiguration.cs
  src/persistence/Persistence.Tests/StorageTables/StorageTables_Service_ValidationTests.cs
Due: pipelines/g2c-rg-shared.yml, pipelines/shared-nuget.yml

Updated pipeline to current standards
  pipelines/g2c-rg-shared.yml
  pipelines/gtc-rg-shared-infrastructure.yml
  pipelines/gtc-rg-shared-src.yml
  pipelines/steps/api-deploy-steps.yml
  pipelines/steps/appcs-deploy-steps.yml
  pipelines/steps/appsettings-deploy-steps.yml
  pipelines/steps/dotnet-build-steps.yml
  pipelines/steps/dotnet-pack-steps.yml
  pipelines/steps/dotnet-publish-steps.yml
  pipelines/steps/dotnet-test-steps.yml
  pipelines/steps/func-build-steps.yml
  pipelines/steps/func-deploy-steps.yml
  pipelines/steps/infrastructure-deploy-steps.yml
  pipelines/steps/integration-test-steps.yml
  pipelines/steps/logic-deploy-steps.yml
  pipelines/steps/lz-deploy-steps.yml
  pipelines/steps/npm-build-steps.yml
  pipelines/steps/npm-test-steps.yml
  pipelines/steps/nuget-deploy-external-steps.yml
  pipelines/steps/nuget-deploy-internal-steps.yml
  pipelines/steps/src-build-steps.yml
  pipelines/steps/src-test-steps.yml
  pipelines/steps/web-deploy-steps.yml
  pipelines/steps/webjob-build-steps.yml
  pipelines/variables/common.yml
  pipelines/variables/development.yml
  pipelines/variables/production.yml
Due: pipelines/g2c-rg-shared.yml

cog added
  pipelines/gtc-rg-shared-infrastructure.yml
  pipelines/steps/cog-deploy-steps.yml
  pipelines/variables/development.yml
  pipelines/variables/production.yml
Due: pipelines/g2c-rg-shared.yml

updated parameters to match variables
  pipelines/gtc-rg-shared-infrastructure.yml
  pipelines/variables/development.yml
  pipelines/variables/production.yml
Due: pipelines/g2c-rg-shared.yml

appInsights -> appi
  pipelines/variables/development.yml
  pipelines/variables/production.yml
Due: pipelines/g2c-rg-shared.yml

Added dotnet-pack to pipe
  pipelines/gtc-rg-shared-src.yml
  pipelines/steps/dotnet-pack-steps.yml
Due: pipelines/g2c-rg-shared.yml

Added build + pack
  pipelines/steps/dotnet-build-steps.yml
  pipelines/steps/dotnet-pack-steps.yml
  pipelines/steps/dotnet-publish-steps.yml
  pipelines/steps/npm-build-steps.yml
  pipelines/steps/npm-test-steps.yml
Due: pipelines/g2c-rg-shared.yml

Path conditions:
  pipelines/g2c-rg-shared.yml: any of: infrastructure, pipelines, src
  pipelines/shared-nuget.yml: any of: src
